* { box-sizing: border-box; }

.html {
    font-size: $base-font-size;
    overflow: hidden;
    overflow-y: scroll;
}

main {
  @include clearfix;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 2%;
  padding-bottom: 2%;
  min-height: 525px;
}

.container {
  @include clearfix;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  .discipline-type {
    @include image-container;
    float: left;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 32%;
    margin-right: 10px;

    &:nth-child(3) {
      margin-right: 0;
    }

    &:hover {
      max-height: 340px;
      overflow: hidden;
    }

    @media (max-width: 1024px) {
      //@include span-columns(6);
      margin: 0;
    }
  }
}

footer {
  @include background-image(linear-gradient($medium-gray, $dark-gray));
  @include span-columns(12);
  height: 6rem;
  bottom: 0;

  .footer-body{
    margin-left: 10px;
    margin-right: 10px;
  }
}

body {
    font-size: 1rem;
    background-color: darken($secondary-background-color, 10%);
}

.grid-sizer {
  //width: 33.33%;
}

.gutter-sizer {
  width: 3%;
}

