.html {
    font-size: $base-font-size;
    overflow: hidden;
}

main {
  @include clearfix;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 2%;
  padding-bottom: 2%;
  min-height: 525px;
}

.container {
  @include clearfix;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  .discipline-type {
    @include image-container; 

    &:hover {
      max-height: 340px;
      overflow: hidden;
    }

    @media (max-width: 1024px) {
      @include span-columns(6);
      margin: 0;
    }
  }
}

footer {
  @include background-image(linear-gradient($medium-gray, $dark-gray));
  @include span-columns(12);
  height: 6rem;
  bottom: 0;
  
  .footer-body{
    margin-left: 10px;
    margin-right: 10px;
  }
}

body {
    font-size: 1rem;
    background-color: darken($secondary-background-color, 10%);
}
