.html {
    font-size: $base-font-size;
    overflow: hidden;
}

.container {
  @include clearfix;
  @include outer-container(100%);
    
    .image-left,
    .image-center,
    .image-right {
        @include span-columns(4);
    }
}

footer {
  @include span-columns(12);
}

body {
    font-size: 1rem;
    background-color: $secondary-background-color;
}