.topnav {
	@include clearfix;
	@include outer-container(1400px);
	@include background-image(linear-gradient($dark-gray, $medium-gray, transparent 50%));
	height: 5rem;

	ul {
		li {
			display: inline-block;
			@include span-columns(2.5);

			a {
				color: $green;
				@include transition(0.5s ease-in-out all);
				&:hover {
					color: $yellow;
				}
			}
		}
	}

	.logo {
		@include span-columns(4);
		float: right;
	}
}