.topnav {
	@include clearfix;
	@include outer-container(100%);
	@include background-image(linear-gradient($dark-gray, $medium-gray));
	height: 6rem;
    position: relative;
    
    .mainnav {
        @include span-columns(8);
        @media screen and (max-width: 600px) {
            @include span-columns(12);
        }
    }
	
    ul {
		@include clearfix;
        margin-left: 10px;
        position: absolute;
        bottom: 5px;
		
        li {
            padding-top: 15px;
			display: inline-block;
			@include span-columns(2.5);

			a {
				@include transition(0.5s ease-in-out all);
			}
		}
	}

	.logo {
        position: absolute;
        bottom: -22px;
        right: 0;
		@include span-columns(4);
		float: right;
        a {
			@include clearfix;

			img {
				padding: 5px;
                height: auto;
			}
        }
        @media (max-width: 600px) {
            @include span-columns(12);
            top: 0;
            left: 0;
            float: none;
        }
	}
}
