.resume-titles {
  @include span-columns(3);
  float: left;
  border-right: 1px solid green;
  height: 100%;

  .title {
    font-size: 2.4rem;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.resume-content {
  @include span-columns(8);
  height: 100%;
  
  .content {
    margin-top: 5px;
    margin-bottom: 5px;

    .employer {
      font-weight: 700;
    }
  }

  li {
    list-style: none;
  }
}