.resume-entry {
  @include outer-container();

  margin-top: 15px;
  margin-bottom: 15px;

  .resume-title {
    @include span-columns(3);
    float: left;
    height: 100%;
    font-size: 2.4rem;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1;
  }

  .content {
    @include span-columns(8);
    height: 100%;
    border-left: 1px solid green;
    padding-left: 30px;

    .content {
      margin-top: 5px;
      margin-bottom: 5px;

      .employer {
        font-weight: 700;
      }
    }

    li {
      list-style: none;
    }
  }
}