%header{role: "banner"}
  %h1= link_to data.config.site.title, "/", rel: "home"

  %nav.topnav{role: "navigation"}
    %ul.mainnav
      %li{nav_active("page.html")}
        = link_to "Resume", "page.html"
      %li
        = link_to "Portfolio", "page.html"
      %li
        = link_to "Conatct", "contact.html"
    .logo
      keif
      %a{:href => "keithhatton"}
