%header{role: "banner"}
  %nav.topnav{role: "navigation"}
    %ul.mainnav
      %li{nav_active("page.html")}
        = link_to "Resume", "resume.html"
      %li
        = link_to "Portfolio", "page.html"
      %li
        = link_to "Conatct", "contact.html"
    .logo
      %h1= link_to image_tag("../images/keithscream.png"), "/", rel: "home"
