%header{role: "banner"}
  %nav.topnav{role: "navigation"}
    %ul.mainnav
      %li{nav_active("page.html")}
        = link_to "Resume", "/resume.html"
      %li
        = link_to "Portfolio", "/portfolio.html"
      %li
        = link_to "Contact", "/contact.html"
    .logo
      =link_to image_tag("../images/keithscream.png"), "/", rel: "home"
