%nav.topnav
	%ul.mainnav
		%li 
			hey
			%a{:href => "Home"}
		%li 
			hey
			%a{:href => "Design"}
		%li 
			hey
			%a{:href => "Print"}
		%li 
			hey
			%a{:href => "Digital"}
		%li 
			hey
			%a{:href => "Physical"}
	.logo
		keif
		%a{:href => "keithhatton"}