---
  title: Paint
  body_classes: projects
  meta_description: Keith Hatton's portoflio website
  meta_keywords: design, industrial design, cycling
---

%main{role: 'project'}
	%article
		%h1= data.page.title