---
  title: Paint
  body_classes: projects
  meta_description: Keith Hatton's portoflio website
  meta_keywords: design, industrial design, cycling
---

%main{role: 'project'}
	%article
		%h1= data.page.title
		.container
			- data.paint.paints.each_with_index do |paints, index|
				.project-type
					%img{:src => "/images/Paint/#{paints.images}"}