---
  title: Contact Keith
  body_classes: contact_page
  meta_description: Contact Keith
---

%main{role: 'contact'}
  %section.contact
  %h1= mail_to "Keithhatton@gmail.com", 'Email Me', subject: "Reaching Out"
  %h2= '(xxx) xxx-xxxx'