---
  title: Keith Hatton
  body_classes: home
  meta_description: Keith Hatton's portoflio website
  meta_keywords: design, industrial design, cycling
---

%main{role: 'main'}
  %article
    %h1= data.page.title
    .container 
      %ul
        - data.types.types.each_with_index do |type, index|
          %li.discipline-type
            %img{:src => "../images/#{type.images}"}
            .hidden-text
              .text-container
                %a=type.type
