---
  title: Sample Home Page
  body_classes: home
  meta_description:
  meta_keywords:
---

%main{role: 'main'}
  %article
    %h1= data.page.title
    .container
      .image-left
        %img(src="/images/amarosokit.png")
        .hidden-text
          .text-container
            I am a kit
      .image-center
        %img(src="/images/theorykit.png")
        .hidden-text
          .text-container 
            I am a kit
      .image-right
        %img(src="/images/wallet.jpg")
        .hidden-text
          .text-container
            I am a wallet
