---
  title: Keith Hatton
  body_classes: portfolio
  meta_description: Keith Hatton's portoflio website
  meta_keywords: design, industrial design, cycling
---
- imgSrc = data.projects.folder

%main{role: 'portfolio'}
  %portfolio
    - data.projects.projects.each do |f|
      %li= f
    =image_tag("amarosokit.png")