---
  title: Keith's Resume
  body_classes: resume
  meta_description: Keith's resume
  meta_keywords:
    - graphic design
    - industrial design
---

%main{role: 'resume'}
  .container
    %section.resume-contact
      %h1= "Keith's Resume"
      %h2= "Philadelphia"
      %h2= mail_to "KeithHatton@gmail.com", 'Email Me', subject: "Reaching Out"
  