---
  title: Resume Page
  body_classes: resume_page
  meta_description: Keith's Resume
  meta_keywords: 
    - design
    - graphic design
    - cycling
    - industrial design
    - photography
---

%main{role: 'resume'}
  %section.resume-contact
    %h1= "Keith's Resume"
    %h2= "Philadelphia"
    %h2= mail_to "KeithHatton@gmail.com", 'Email Me', subject: "Reaching Out"

  %section.about
    %p My name is keith and I am design things in philadelphia. I like cool thigns like cars and bicycles. I also make screen protectors and its pretty cool. I live with Brendy and a cat and I am obsessed with back to the future for some reason... But read my resume and feel free to reach out to me to hire me!!!

  %section.work
    %ul.work
      %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      %li More experience
      %li More expereince
      %li More experience
      %li stuff

  .resume-titles
    .objective-title 
      Objective
    .experience-title
      Experience
    .education-title
      Education
    .skills-title
      Skills
    .awards-exhibition
      Awards/Exhibitions
    .references-title
      References
  .resume-content
    .objective-content
      To join an establishment with drive, passion and creative consideration...
    .experience-content
      - data.resume.experience.each_with_index do | employer, index|
        %li.hey
          #{employer.employer}
